<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Coffee Shop</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/theme/css/style.css" />
</head>
<body>
    <!-- Navigation / Header -->
    <header>
        <h1 style="text-align: center;">Coffee Shop</h1>
    </header>

    <!-- Content from individual Views -->
    <main>
        @RenderBody()
    </main>

    <!-- Scripts -->
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
